:root {
  --background-color: #0d1117;
  --main-text-color: #e6e6e6;
  --accent-color: #51b38c;
  --accent-color-dim: #439775;
  --secondary-accent-color: #d4af37;
  --exrta-highlight: #7f8c8d;
  --display-text: 'Space Grotesk', sans-serif;
  --body-text: 'Raleway', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-section img {
  width: 50px;
  height: auto;
  margin-right: 50px;
}

.logo-section p {
  color: var(--main-text-color);
  font-family: var(--display-text);
  font-size: 36px;
  font-weight: bold;
}

.nav-links a {
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 16px;
  font-family: var(--body-text);
  font-weight: bold;
  transition: color ease 0.3s;
}

.nav-links a:not(:last-child) {
  margin-right: 20px;
}

.nav-links a:hover:not(.nav-cta) {
  color: var(--accent-color);
}

.nav-links a.nav-cta {
  display: inline-block;
  background: linear-gradient(
    87deg,
    var(--accent-color) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  padding: 10px 20px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  color: var(--background-color);
}

.nav-links a.nav-cta:hover {
  background: linear-gradient(
    87deg,
    var(--accent-color-dim) 0 97%,
    #fff0 calc(97% + 1px) 100%
  );
  transform: rotate(-3deg);
}

.nav-links a.active {
  border-bottom: solid 5px var(--accent-color);
  padding-bottom: 5px;
}
